th, td {
  padding: 5px;
  text-align: left;
}

body {
  margin: 0;
  background: #0099ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
}

.headTbl{
  width: 100%;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0px;
}

.headRow{
  width: 100%;
  text-align: center;
  background-color: #FFF;
}

.centerByMargin{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.pandatbl{
  width: 350px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #000;
  margin: 0 auto;
}

.mainTbl{
  width: 700px;
  margin: 10px;
}

.tblhead{
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: rgb(1, 87, 136)
}

.lblcell{
  text-align: right;
  width: 100px;
  border: 1px solid #000;
  color: white;
  background-color: lightslategray;
}

.valcell{
  text-align: left;
  width: 200px;
  border: 1px solid #000;
  background-color: #FFF;
}


#holder {
  display: none;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #000;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
